/* Adds some classes for the images and the hidden class to show certain elements. */

.hidden{
    display: none;
}
.searchWeatherImg{
    max-width: 10%;
    margin-left: 35px;
}

.currentWeatherImg{
    max-width: 10%;
    margin-left: 20px;
}

/* UV classes to give a border and certain look */

.lowUV,
.moderateUV,
.highUV,
.veryHighUV,
.extremeUV{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    max-width: 22%;
}

/* Adds certain UV class to have a backgroudn based on the UV setting */

.lowUV{
    background-color: green;
}

.moderateUV{
    background-color: lightgreen;
}

.highUV{
    background-color: rgb(249, 103, 103)
}

.veryHighUV{
    background-color: red;
}

.extremeUV{
    background-color: black;
    color: white;
}